/* body {
    background-image: url(wallPaper.png);
    height: auto;
    width: 100%;
    
    
} */


body {
    background-image: url(wallPaper.png);    
    background-position: center center;   
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;   
    background-color: #464646;
  }

/* .techStyle {
    
    color: white;
   
    background-color: #3f51b5;
    /* paddingRight: "20%",
    paddingLeft: "20%",
    textAlign: "center",
    display: "inline-block",
    ,
  */
    

} */